body{
    background-color:#F19FA8;
    color:#2A2A63;
}
.work{
    flex-direction: column;
}
.margin-destop{
    margin:30px 0;
}
.skills-svg svg{
    margin:0 10px;
}
@media(min-width:768px) {
    .work{
        flex-direction:row;
    }
    .border-right{
        border-right:2px solid black;

    }
    .margin-desktop{
        margin:40px 0;
    }
}
